body {
  background: #eaeaea;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border: 8px solid #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.coin.is-flipped {
  transform: rotateX(180deg);
}

.coin__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.coin__face--front {
  background-color: #ff7d78;
}

.coin__face--back {
  background-color: #72fa78;
  transform: rotateX(180deg);
}
